* {
    box-sizing: border-box;
}

body {
    background: #111;
    font-family: Arial, Helvetica, sans-serif;
    /* text-align: justify; */
    text-align: center;
}

.game {
    padding: 20px;
    width: max-content;
    margin: 30px auto;
    background: darkgray;
}

.level {
    margin-bottom: 5%;
}

.board {
    margin: auto;
    border: 20px;
    border-color: rgb(128, 128, 128);
    box-shadow: 1px 1px lightgray, -.5em 0 .3em lightgray;
    font-weight: bold;
}

.cell {
    background: whitesmoke;
    font-size: 1.5em;
    width: 2em;
    height: 2em;
}

.closed {
    box-shadow: inset -2px -2px 0 rgba(0, 0, 0, 0.15);
    background-color: lightgrey;
}

.open0 {
    color: rgba(0, 0, 0, 0);
}

.open1 {
    color: darkblue;
}

.open2 {
    color: rgb(0, 128, 0);
}

.open3 {
    color: rgba(255, 0, 0);
}

.open4 {
    color: rgb(91, 30, 148);
}

.over {
    background-color: red;
}

footer {
    text-align: center;
    padding: 5px;
    background-color: #abbaba;
    color: #000;
    bottom: 0;
    display:inline-block;
}